html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: 16px;
}

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

h1, h2, h3, h4 {
    font-size: inherit;
}

a {
    text-decoration: none;
    color: blue;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}


@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}



a {
  text-decoration: none;
}

.hidden {
  display: none;
}

#login_form {
  z-index: 100;
  background: white;
  position: absolute;
  height:100%;
  width:100%;
  top: 0px;
  left: 0px;
}
#login_form form {
  position: absolute;
  top:25%;
  left:25%;
}

#sidebar h1 {
  text-align: center;
  font-size: 24;
  padding-bottom: 5px;
}

#main h2 {
  padding-bottom: 3px;
  font-size: 14;
  padding-left: 50px;
}
#main ul {
  position:relative;
}

#main form {
  padding-top: 5px;
  width: 350px;
}
#main form input[type="text"]{
  width: 315px;
}

@media (min-width: 443px) {

  #sidebar{
    position: absolute;
    height: 25%;
    width: 10%;
    top: 15%;
    left: 0px;
  }

  #main{
    padding-left: 10px;
    padding-top: 50px;
    position: absolute;
    height:100%;
    top:0px;
    right:0px;
    width: 80%;
  }

  #sidebar ul {
    text-align: right;
    padding-right: 5px;
  }


}

@media (max-width: 443px) {
  body {
    padding-left: 5px;
  }

  #sidebar {
    position: absolute;
    height:70px;
    background:#fff;
    width: 100%;
    top: 0px;
  }

  #sidebar ul {
    position: relative;
    display: block;
    clear: both;
    width: 100%;
  }

  #sidebar ul li {
    display: inline;
    background: #aaa;
    padding: 5px;
  }

  #main {
    position: absolute;
    overflow-y: scroll;
    width: 100%;
    top: 75px;
  }

  # main ul li {
    min-height: 50px;
    background: black;
  }
}

