/* @override 
http://marrow.elangley.org/css/main.css */

/*@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic);*/
/*@import url(//fonts.googleapis.com/css?family=Oxygen:400,700,400italic);*/
@import url(//fonts.googleapis.com/css?family=Josefin+Sans:400,700,400italic);
@import url(//fonts.googleapis.com/css?family=Ek+Mukta:200,400,800&subset=latin,latin-ext);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* @group Browser Resets */

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

h1, h2, h3, h4, p, blockquote, figure, ol, ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

h1, h2, h3, h4 {
  font-size: inherit;
}


a {
  text-decoration: none;
  color: blue;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

/* @end */

.avatar-image:hover {
  background: #eee;
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom, #eee 0%, #bbb 75%, #888 100%);
}

.avatar-image:hover .de-emphasize {
  color: white;
}

.avatar-image {
  padding: 5px 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  width: 15%;
}

.identicon {
  border-radius: 50%;
  vertical-align: middle;
}

.poster-handle {
  display: inline-block;
  vertical-align: middle;
}

.bone-details {
  display: inline-block;
  vertical-align: middle;
}

.sub-ctrl {
  display: inline-block;
  vertical-align: middle;
  width: 9em;
}

ul.subscription-list {
  text-align: center;
  /*background: #eee;*/
}

ul.subscription-list::after {
  content: " ";
  clear: both;
  display: block;
}

li.sub-filter {
  width: 15.50%;
  margin: 5px 0.58%;
  padding: 0px;
  display: block;
  float: left;
}

li.sub-filter label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: black solid thin;
  background: #eee;
  border-radius: 10px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  padding: 5px;
}

li.sub-filter input {
  display: none;
}

li.sub-filter label:hover,
li.sub-filter input:checked + label {
  border: #eee thin solid;
  color: white;
}

li.sub-filter input:checked + label {
  background: linear-gradient(to top, #eee 0%, #bbb 75%, #888 100%);
}

li.sub-filter label:hover {
  background: linear-gradient(to bottom, #eee 0%, #bbb 75%, #888 100%);
}

/* @group State Definitions */

.is-hidden {
  display: none;
}

/* @end */

/* @group General Definitions */

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

body {
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 400;
}

/* @end */

/* @group Header Module */

header {
  padding: 20px;
  background: #300;
  background: #000;
  font-family: 'Josefin Sans', sans-serif;
}

header .site-logo {
  text-align: center;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: .2em 0 -.1em;
}

/* @end */

/* @group Footer */

footer {
  position: fixed;
  height: 1.5em;
  bottom: 0px;
  width: 100%;
  background: hsl(0,0%,90%);
  text-align: center;
  padding: 0.em 0em;
}

footer a.facebook-link {
  color: blue;
  padding: 0px 2px;
  text-decoration: none;
}

footer a.facebook-link:hover {
  background: blue;
  color: white;
}

/* @end */

/* @group Navigation Module */

#nav-main .logout-link {
  margin-top: 10px;
}

/* @end */

/* @group List Module */

.linkinfo {
  display: inline-block;
}

main h2 {
  margin-bottom: 10px;
  font-size: 24px;
  padding-left: 0;
}
main ul {
  position: relative;
}

main form {
  padding: 10px 0;
}
main form input[type="text"] {
  width: 315px;
}

.more-link {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 2em;
  text-align: center;
  background: #eee;
}

.bone-list li {
  /*padding-right: 1em;*/
  margin-bottom: 12px;
  width: 100%;
}

.bone-list .bone-details {
  width: 84%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* @end */

/* @group Login Module */

#login_form div.message{
  position: absolute;
  background: red;
  width: 100%;
  text-align: center;
}

#login_form {
  position: absolute;
  z-index: 100;
  height: 100%;
  background: white;
}
#login_form form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* @end */

/* @group Form Validation */

input.ng-invalid, button.ng-invalid {
  box-shadow: 1px 1px red;
}

/* @end */

/* @group Link Styling */

a {
  transition-property: color;
  transition-duration: .2s;
}

a:link, a:visited, a:hover, a:active, a:focus {
  color: black;
}
a:link, a:visited {
  
}
a:hover, a:active, a:focus {
  text-decoration: underline;
}
div.marrow {
  display: inline-block;
  vertical-align: top;
}
.de-emphasize, a.de-emphasize {
  font-size: 80%;
  color: #aaa;
}
a.delete-link {
  color: red;
  /*position: absolute;*/
  /*margin-left: -1em;*/
}
a.delete-link:hover {
  text-decoration: none;
  color: brown;
}
/* @end */

#nav-main {
  visibility: hidden;
}

/* Generic Large Devices */
@media (min-width: 443px) {
  body.is-logged-on #nav-main {
    visibility: visible;
  }

  #nav-main {
    position: absolute;
    width: 20%;
    padding-right: 7%;
    top: 0px;
    left: 0px;
    margin-top: 150px;
  }

  main {
    padding-top: 100px;
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    width: 80%;
  }

  #nav-main ul {
    text-align: right;
    padding-right: 5px;
  }
  
  #login_form {
    width: 125%;
    left: -25%;
    top: 66px;
  }
  #login_form div.message{
    top: -33px;
  }
  #login_form form {
    margin-top: 100px;
  }

}

/* @group Miscellaneous */

a.user-settings {
  color: rgb(0,0,128);
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 20px;
}

a.user-settings:hover {
  color: rgb(0,0,256);
}

/* @end */

/* Generic Small Devices */
@media (max-width: 443px) {

  .wide {
    display: none;
  }

  header {
    position: fixed;
    padding: 9px;
    height: 40px;
    width: 100%;
  }
  
  header .site-logo {
    font-size: 20px;
    margin: .2em 0 -.1em;
  }

  main {
    padding-left: .5em;
    padding-right: .5em;
  }

  #nav-main {
    position: fixed;
    background: #fff;
    height: 100%;
    width: 100%;
    top: 0px;
    margin: 0 auto;
    padding: 10px;
    visibility: hidden;
  }

  #nav-main:after {
    font-family: "FontAwesome";
    font-size: 20px;
    padding: 10px;
    content: "\f0c9";
    display: block;
    color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    line-height: 22px;
    top: 0;
    left: 0;
    visibility: visible;
    box-sizing: border-box;
  }
  
  #nav-main:hover:after {
    background: #888;
  }
  #nav-main ul {
    position: fixed;
    background: white;
    top: 40px;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
  }
  #nav-main:hover ul {
    visibility: visible;
  }
  #nav-main li {
    text-align: center;
  }
  #nav-main a {
    width: 100%;
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
  }
  #nav-main a:hover, #nav-main a:active, #nav-main a:focus {
    background: #ddd;
  }

  .bone-list .avatar-image {
    text-align: center;
  }
  
  .bone-list .poster-handle {
    display: none;
  }
  
  #nav-main .logout-link {
    margin-top: 40px;
    border-top: 1px solid #ddd;
  }
  
  #login_form {
    width: 100%;
    left: 0;
    top: 0;
  }
  #login_form form {
    margin-top: 20px;
  }
  #login_form div.message{
    margin-top 10px;
  }
  form input[type="password"] {
  }

  main {
    position: absolute;
    width: 100%;
    margin-top: 75px;
    /*overflow: hidden;*/
  }
  
}
