<section id="main">
  <h2 class="section-title">
    <a class="user-link" ng-href="{{path('UserCtrl', {'user': sectionTitle})}}">{{path('UserCtrl', {'user': sectionTitle})}}</a>
  </h2>
  <form>
    <input type="text" ng-model="url" placeholder="http:// . . ."/>
    <button type="submit" ng-click="addLink(url)">+</button>
  </form>
  <ul class="bone-list">
    <li ng-repeat="marrow in bone" class="bone-item" data-id="{{marrow.id}}" data-url="{{marrow.url}}" data-posted="{{marrow.posted}}" data-title="{{marrow.title}}">
      <a href class="delete-link" ng-click="console.log('a');delete(marrow.id)" title="Delete Link from List">(-)</a>
      <div class="marrow">
        <span ng-if="marrow.title"><a href="{{marrow.url}}" class="list-item" >{{marrow.title}}</a><br /></span>
        <a href="{{marrow.url}}" class="{{marrow.title? 'de-emphasize' : ''}}" >{{marrow.url}}</a>
      </div>
    </li>
  </ul>
</section>

