<section id="main">
  <h2 class="section-title">
    <button type="submit"
            ng-class="['sub-ctrl']"
            ng-click="toggleSubscribe('boo')">{{iFollow.follows ? 'unSubscribe' : 'Subscribe'}}</button>
    <a class="user-link"
       ng-href="{{path('UserCtrl', {'user': bone.sectionTitle})}}">
      {{path('UserCtrl', {'user': bone.sectionTitle})}}
    </a>
    <a class="my-avatar"
       href="{{ path('UserCtrl', {'user': bone.sectionTitle}) }}"
       title="{{bone.sectionTitle}}">
      <gravatar-image class="my-image" user-name="{{bone.sectionTitle}}"></gravatar-image>
    </a>
  </h2>
  <bone-list bone="bone.marrow" />
</section>


