<section id="main">
  <h2 class="section-title">
    <button type="submit"
            ng-class="['sub-ctrl']"
            ng-click="toggleSubscribe()">{{subscribeLabel}}</button>
    <a class="user-link"
       ng-href="{{path('UserCtrl', {'user': sectionTitle})}}">
      {{path('UserCtrl', {'user': sectionTitle})}}
    </a>
    <a class="avatar-image"
       href="{{ path('UserCtrl', {'user': sectionTitle}) }}"
       title="{{sectionTitle}}">
      <img ng-src="{{gravURL(sectionTitle)}}" />
    </a>
  </h2>
  <bone-list bone="bone" />
</section>


