<section id="main">
  <h2 class="section-title">{{sectionTitle}}</h2>
  <form>
    <ul class="subscription-list">
      <li>
        <input type="radio" ng-model="friend" ng-value="">[Everyone]</input>
      </li>
      <li ng-repeat="friend in friends.data">
        <input type="radio" ng-model="$parent.friend" ng-value="friend">{{friend}}</input>
      </li>
    </ul>
  </form>
  <ul class="bone-list">
    <li ng-repeat="marrow in bone | filter:{poster:friend}:emptyOrEquals" class="bone-item" data-id="{{marrow.id}}" data-url="{{marrow.url}}" data-posted="{{marrow.posted}}" data-title="{{marrow.title}}" data-poster="{{marrow.poster}}">
      <div class="bone-details">
        <span ng-if="marrow.title"><a href="{{marrow.url}}" class="list-item" >{{marrow.title}}</a><br /></span>
        <a href="{{marrow.url}}" ng-class="{'de-emphasize':marrow.title}" >{{marrow.url}}</a>
      </div>
      <user-badge poster="{{marrow.poster}}"></user-badge>
    </li>
  </ul>
</section>
