<section id="main">
  <h2 class="section-title">
    {{bone.sectionTitle}} ({{filtered.length}} items)
  </h2>
  <form>
    <ul class="subscription-list">
      <li class="sub-filter">
        <input id="sub-all" type="checkbox" ng-model="friend.all" ng-click="uncheckOthers(friend)"></input>
        <label for="sub-all">[All]</label>
      </li>
      <li class="sub-filter" ng-repeat="name in friends.data | orderBy:name">
        <input id="sub-{{$index+1}}" type="checkbox" ng-model="friend[name]" ng-click="friend.all = false"></input>
        <label for="sub-{{$index+1}}" > <!-- TODO: figger out how to abstract this + combine with the other user badge -->
          <span class="narrow"><gravatar-image user-name="{{name}}"></gravatar-image></span>
          <span class="wide">{{name}}</span>
        </label>
      </li>
    </ul>
  </form>
  <ul class="bone-list">
    <li ng-repeat="marrow in filtered = (bone.marrow | filter:{poster:friend}:emptyOrEquals)"
        ng-class="['bone-item', marrow.colorClass]"
        data-id="{{marrow.id}}"
        data-url="{{marrow.url}}"
        data-posted="{{marrow.posted}}"
        data-title="{{marrow.title}}"
        data-poster="{{marrow.poster}}"
        data-votes="{{marrow.votes}}">
      <div class="bone-details">
        <span class="voting">
          <span class="score">{{marrow.votes}}</span>
          <button class="upVote fa fa-plus" ng-click="upVote(marrow)"></button>
        </span>
        <span ng-if="marrow.title">
          <a href="{{marrow.url}}" class="list-item">{{marrow.title}}</a>
          <br />
        </span>
        <a href="{{marrow.url}}" ng-class="{'de-emphasize':marrow.title}" >{{marrow.url}}</a>
      </div>
      <user-badge poster="{{marrow.poster}}"></user-badge>
    </li>
  </ul>
  <a ng-click="backAPage()" class="more-link"/>More</a>
</section>
