<section id="main">
  <h2 class="section-title">{{bone.sectionTitle}}</h2>
  <form>
    <ul class="subscription-list">
      <li class="sub-filter">
        <input id="sub-all" type="radio" ng-model="friend" ng-value=""></input>
        <label for="sub-all">[All]</label>
      </li>
      <li class="sub-filter" ng-repeat="friend in friends.data">
        <input id="sub-{{$index+1}}" type="radio" ng-model="$parent.friend" ng-value="friend"></input>
        <label for="sub-{{$index+1}}" >
          <span class="narrow"><gravatar-image user-name="{{friend}}"></gravatar-image></span>
          <span class="wide">{{friend}}</span>
        </label>
      </li>
    </ul>
  </form>
  <ul class="bone-list">
    <li ng-repeat="marrow in bone.marrow | filter:{poster:friend}:emptyOrEquals"
        class="bone-item"
        data-id="{{marrow.id}}"
        data-url="{{marrow.url}}"
        data-posted="{{marrow.posted}}"
        data-title="{{marrow.title}}"
        data-poster="{{marrow.poster}}">
      <div class="bone-details">
        <span ng-if="marrow.title">
          <a href="{{marrow.url}}" class="list-item" >{{marrow.title}}</a>
          <br />
        </span>
        <a href="{{marrow.url}}" ng-class="{'de-emphasize':marrow.title}" >{{marrow.url}}</a>
      </div>
      <user-badge poster="{{marrow.poster}}"></user-badge>
    </li>
  </ul>
</section>
