<!DOCTYPE html>
<html lang="en" ng-app="marrowApp">
<head>
  <title>Marrow</title>
  <base href="/" />
  <meta charset="utf-8">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="/images/icons/browserconfig.xml">
  <meta name="theme-color" content="#000000">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons/App Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/icons/manifest.json">
  <link rel="shortcut icon" href="/images/icons/favicon.ico">
  <!-- JS -->
  <script src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-route.min.js"></script>
  <script src="/lib/angular-resource.min.js"></script>
  <script src="/js/new/utils.js"></script>
  <script src="/js/new/directives.js"></script>
  <script src="/js/directives/user-badge/user-badge.js"></script>
  <script src="/js/directives/bone-list/bone-list.js"></script>
  <script src="/js/new/services.js"></script>
  <script src="/js/new/controller.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/lib/formalize.css" media="screen" />
  <link rel="stylesheet" href="/css/main.css" media="screen" />

</head>
<body>
  <div id="page-container">
    <main ng-view></main>
    <header>
      <h1 class="site-logo">Marrow</h1>
    </header>
    <nav id="nav-main" ng-controller="SidebarCtrl">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href ng-click="subscriptions()">My Lists</a></li>
        <li><a href ng-click="random()">Random</a></li>
        <li class="logout-link"><a href ng-click="logout()">Log Out</a></li>
      </ul>
      <div class="appstore-links">
        <a href="https://play.google.com/store/apps/details?id=com.joinmarrow.marrow">
          <img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
        </a>
      </div>
    </nav>
    <footer>
      <span class="beta-message">
        This service is currently in beta. Like us on
        <a class="facebook-link" href="https://www.facebook.com/join.marrow">Facebook</a>
        or report problems on <a class="facebook-link" href="https://bugs.joinmarrow.com">bugs.joinmarrow.com</a>.
      </span>
    </footer>
  </div>
</body>
</html>
