<!DOCTYPE html>
<html ng-app="marrowApp">
<head>
  <title>Marrow</title>
  <script src="/lib/angular.js"></script>
  <script src="/lib/angular-route.min.js"></script>
  <script src="/js/new/controller.js"></script>
  <link rel="stylesheet" href="/lib/formalize.css" media="screen" />
  <link rel="stylesheet" href="/css/main.css" media="screen" />
  <base href="/" />
</head>
<body>
  <div id="page-container">
    <main ng-view></main>
    <header>
      <h1 id="site-logo">Marrow</h1>
    </header>
    <nav id="nav-main" ng-controller="SidebarCtrl">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/subscriptions">My Lists</a></li>
        <li><a href ng-click="random()" class="link">Random</a></li>
        <li class="separator"></li>
        <li><a href ng-click="logout()" class="link">Log Out</a></li>
      </ul>
    </nav>
    <footer></footer>
  </div>
</body>
</html>
