<!DOCTYPE html>
<html lang="en" ng-app="marrowApp">
<head>
  <title>Marrow</title>
  <base href="/" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons/App Icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/icons/apple-touch-icon-57x57.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/icons/apple-touch-icon-60x60.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/icons/apple-touch-icon-76x76.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/icons/apple-touch-icon-120x120.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/icons/apple-touch-icon-144x144.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-touch-icon-152x152.png?v=all2jv2L7Q">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon-180x180.png?v=all2jv2L7Q">
  <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png?v=all2jv2L7Q" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/icons/favicon-194x194.png?v=all2jv2L7Q" sizes="194x194">
  <link rel="icon" type="image/png" href="/images/icons/favicon-96x96.png?v=all2jv2L7Q" sizes="96x96">
  <link rel="icon" type="image/png" href="/images/icons/android-chrome-192x192.png?v=all2jv2L7Q" sizes="192x192">
  <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png?v=all2jv2L7Q" sizes="16x16">
  <link rel="manifest" href="/images/icons/manifest.json?v=all2jv2L7Q">
  <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#8eb7cf">
  <link rel="shortcut icon" href="/images/icons/favicon.ico?v=all2jv2L7Q">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/images/icons/mstile-144x144.png?v=all2jv2L7Q">
  <meta name="msapplication-config" content="/images/icons/browserconfig.xml?v=all2jv2L7Q">
  <meta name="theme-color" content="#8eb7cf">

  <!-- JS -->
  <script src="//crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
  <script src="/lib/angular.min.js"></script>
  <script src="/lib/angular-route.min.js"></script>
  <script src="/lib/angular-resource.min.js"></script>
  <script src="/lib/angulartics.min.js"></script>
  <script src="/lib/angulartics-ga.min.js"></script>
  <script src="/lib/angulartics-piwik.js"></script>
  <script src="/js/new/utils.js"></script>
  <script src="/js/new/directives.js"></script>
  <script src="/js/directives/user-badge/user-badge.js"></script>
  <script src="/js/directives/bone-list/bone-list.js"></script>
  <script src="/js/new/services.js"></script>
  <script src="/js/new/controller.js"></script>
  <!-- CSS -->
  <link rel="stylesheet" href="/lib/formalize.css" media="screen" />
  <link rel="stylesheet" href="/css/main.css" media="screen" />

</head>
<body>
  <!--
    -  <script>
-    window.fbAsyncInit = function() {FB.init({
  -        appId      : '1420153671647757',
  -        xfbml      : true,
  -        version    : 'v2.3'
    -      });
-    };
-
-    (function(d, s, id){
  -      var js, fjs = d.getElementsByTagName(s)[0];
  -      if (d.getElementById(id)) {return;}
  -      js = d.createElement(s); js.id = id;
  -      js.src = "//connect.facebook.net/en_US/sdk.js";
  -      fjs.parentNode.insertBefore(js, fjs);
  -    }(document, 'script', 'facebook-jssdk'));
-  </script>
    -
    -->
    <div id="page-container">
      <main ng-view></main>
      <header>
        <h1 class="site-logo">Marrow</h1>
      </header>
      <nav id="nav-main" ng-controller="SidebarCtrl">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href ng-click="subscriptions()">My Lists</a></li>
          <li><a href ng-click="random()">Random</a></li>
          <li class="logout-link"><a href ng-click="logout()">Log Out</a></li>
        </ul>
        <h3>Active Users</h3>
        <ul>
          <li ng-repeat="user in activeUsers.data">
            <user-badge poster="{{user.name}}" no-image></user-badge>
          </li>
        </ul>
        <!--
          -<div class="appstore-links">
          -  <a href="https://play.google.com/store/apps/details?id=com.joinmarrow.marrow">
          -    <img alt="Android app on Google Play" src="https://developer.android.com/images/brand/en_app_rgb_wo_45.png" />
          -  </a>
          -</div>
        -->
      </nav>
      <footer>
        <span class="beta-message">
          This service is currently in beta. Like us on
          <a class="facebook-link" href="https://www.facebook.com/join.marrow">Facebook.</a>
          Try the
          <a style="color: blue"
             href="https://chrome.google.com/webstore/detail/add-to-marrow/pcgflajngpeopkemlijnnggfchoglpad">
            Chrome Extension
          </a>
          to get the newest links delivered straight to your browser.
          <!--or report problems on <a class="facebook-link" href="https://bugs.joinmarrow.com">bugs.joinmarrow.com</a>.-->
        </span>
      </footer>
    </div>
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61547817-1', 'auto');
      //ga('send', 'pageview');

  </script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.joinmarrow.com"]);
  _paq.push(["setDomains", ["*.joinmarrow.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.elangley.org/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 2]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.elangley.org/piwik.php?idsite=2" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
